* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/dark-texture.jpg");
    font-family: "Helvetica", sans-serif;
}

#root {
    display: flex;
    margin: 20px;
    padding: 0;
    align-items: center;
    flex-direction: column;
}

@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf")
}

::-webkit-scrollbar {
    all:unset;
}

.giga-header{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.90);
    height: 12vh;
    align-items: center;
    width: 110%;
    padding-left: 10%;
    padding-right: 10%;
    top: 0;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(255, 255, 255);
    display: flex;
    z-index: 999;
}

.home-page{
    width: 10%;
    align-items: center;
    display: flex;
    text-align: left;
    margin: 15px 0 15px 15px;
    min-width: 10vh;
    /*background-color: rgba(131, 131, 131, 0.5);*/
}

.giga-logo{
    width: 10vh;
    user-select: none;
}

.giga-title{
    user-select: none;
    width: 70%;
    text-align: left;
    font-family: "Inter", serif;
    font-size: min(8vw, 8vh);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    color: #262626;
    padding-left: 10px;
    /*background-color: rgba(52, 52, 52, 0.5);*/
}

.cart-in-title{
    width: 20%;
    text-align: right;
    font-size: 2em;
    padding-right: 3%;
    text-decoration: none;
    color: #151515;
    /*background-color: rgba(131, 131, 131, 0.5);*/
}

.cart-in-title:hover{
    font-size: 1.8em;
    color: #575757;
    padding-right: 3.5%;
}

.products-display{
    margin-top: 17vh;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item{
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: min(calc(25% - 5vh), 300px);
    height: 45vh;
    min-height: 250px;
    min-width: 200px;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;
    align-items: center;
    padding: 1% 1% 1% 1%;
    border-radius: 2px;
    border: 3px solid transparent;
}

@media only screen and (max-width: 1100px){
    .shop-item{
        width:calc(33% - 2vh);
    }
}

@media only screen and (max-width: 700px){
    .shop-item{
        width:calc(50% - 2vh);
    }
}

.item-category{
    text-align: left;
    width: 80%;
}

.item-heart{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    user-select: none;
    right: 15%;
    top: 2%;
}
.item-heart:hover{
    font-size: 150%;
    cursor: pointer;
    right: 14%;
}

.item-heart:active{
    right: 15.5%;
    font-size: 120%;
}

.item-rate{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    user-select: none;
    right: 27%;
    top: 2%;
}
.item-rate:hover{
    font-size: 150%;
    cursor: pointer;
    right: 26%;
}

.item-rate:active{
    right: 27%;
    font-size: 120%;
}


.item-image{
    margin: auto;
    display: block;
    height: 30vh;
    width: 400px;
    min-height: 150px;
    object-fit: cover;
    max-width: 80%;
    border: 2px solid black;
    filter: opacity(95%);
}

.item-title{
    text-align: center;
    font-weight: bold;
}

.item-price{
    text-align: right;
    color: green;
    font-weight: bold;
}

.item-add-to-cart{
    text-align: center;
    background-color: #444444;
    font-weight: bold;
    border-radius: 6px;
    width: 60%;
    user-select: none;
    margin: 0.3vh;
    cursor:pointer;
}

.item-added-to-cart{
    text-align: center;
    background-color: #8f8f8f;
    font-weight: normal;
    border-radius: 6px;
    width: 60%;
    user-select: none;
    margin: 0.3vh;
    cursor: default;
}

.item-add-to-cart:hover{
    background-color: #6c6c6c;
}

.item-added-to-cart:hover{
    background-color: #8f8f8f;
}

.no-items-to-show{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 10vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-family: Arial, serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

.category-bar{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    height: 30px;
    border-radius: 5px;
    min-width: 300px;
    top: 15vh;
    left: 8%;
}

.category-title{
    margin-left: 10px;
    margin-right: 3px;
}

.category-options{
    color: white;
    background-color: rgba(21, 21, 21, 0.8);
    border-radius: 5px;
    width: 45%;
}

.category-search{
    margin-left: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    user-select: none;
    padding-left: 3%;
    padding-right: 3%;
}

.category-search:hover{
    background-color: rgba(157, 157, 157, 0.4);
    cursor: pointer;
}

.account-bar {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    height: 30px;
    min-width: 300px;
    top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.account-icon {
    user-select: none;
    padding-bottom: 2px;
}

.account-button {
    margin-left: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    user-select: none;
    padding-left: 3%;
    padding-right: 3%;
}

.account-button:hover {
    background-color: rgba(157, 157, 157, 0.4);
    cursor: pointer;
}

.search-bar {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    height: 30px;
    border-radius: 5px;
    min-width: 300px;
    top: 15vh;
    right: 8%;
}

.search-input {
    color: white;
    background-color: rgba(21, 21, 21, 0.8);
    border-radius: 5px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.search-search {
    margin-left: 5px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    user-select: none;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.search-search:hover {
    background-color: rgba(157, 157, 157, 0.4);
    cursor: pointer;
}

@media only screen and (max-width: 1100px){
    .category-bar{
        left: calc(50% - 150px);
        top: 20vh;
    }
    .account-bar{
        position: absolute;
        left: calc(50% - 150px);
        padding-left: 10px;
    }
    .search-bar{
        position: absolute;
        top: 25vh;
        left: calc(50% - 150px);
        justify-content: left;
        width: 300px;
        padding-left: 10px;
    }
    .products-display {
        margin-top: 27vh;
    }
}

.smallcart{
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 20%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 13%;
    right: 2.5%;
    visibility: hidden;
}

.smallcart-title{
    width: 100%;
    color: white;
    font-size: 1vw;
    background-color: rgba(0, 0, 0, 0.9);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 6px;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}

.smallcart-items{
    position: absolute;
    /*background-color: rgba(250, 0, 0, 0.2);*/
    width: 100%;
    height: 90%;
    top: 5%;
    overflow: auto;
}

.smallcart-total{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 5px rgb(3, 0, 0);
    height: 5%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

.smallcart-price{
    position: absolute;
    bottom: 0;
    width: 100%;
    user-select: none;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4%;
    font-weight: bold;
    color: white;
}

.smallcart-item{
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-bottom: 5%;
}

.smallcart-item-image{
    position: relative;
    height: 80%;
    width: 17.5%;
    top: 10%;
    left: 2.5%;
    border-radius: 2px;
}

.smallcart-item-title{
    /*background-color: rgba(0, 0, 0, 0.5);*/
    position: relative;
    height: 80%;
    width: 50%;
    left: 20%;
    bottom: 75%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-align: left;
    overflow: hidden;
    padding-left: 2%;
}

.smallcart-item-quantity{
    /*background-color: #345e26;*/
    position: relative;
    height: 80%;
    width: 10%;
    left: 70%;
    bottom: 155%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallcart-item-price{
    /*background-color: crimson;*/
    position: relative;
    height: 80%;
    width: 17.5%;
    left: 80%;
    bottom: 235%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-popup{
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: rgba(224, 224, 224, 0.8);
    border-radius: 7px;
    z-index: 999;
    font-size: 2rem;
    padding: 0.5% 5%;
    visibility: hidden;
}

.pagination-bar {
    /*background-color: #ff8800;*/
    width: 50%;
    height: 4vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.pagination-btn-back, .pagination-btn-next{
    background-color: rgba(225, 225, 225, 0.7);
    border-radius: 5px;
    height: 80%;
    width: 25px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pagination-btn-back:hover, .pagination-btn-next:hover{
    cursor: pointer;
    background-color: rgba(171, 171, 171, 0.7);
}

.pagination-current{
    /*background-color: rgba(225, 225, 225, 0.2);*/
    border: 0.1rem solid;
    color: white;
    border-radius: 5px;
    height: 80%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-left: 5px;
}

.pagination-total{
    color: white;
    border-radius: 5px;
    height: 80%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-left: 3px;
    margin-right: 5px;
}

.pagination-per-page{
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    width: 45px;
    height: 60%;
}

.pagination-per-page>option{
    background-color: #1f1f1f;
}

.pagination-final{
    user-select: none;
    color: white;
    margin-left: 3px;
}

.hide-pagination{
    /*visibility: hidden;*/
    /*background-color: rgb(208, 208, 208);*/
    background-image: url("../images/dark-texture.jpg");
    height: 4vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4vh;
    border-radius: 20px;
    min-width: 500px;
    user-select: none;
}
.hide-pagination:hover{
    background-color: rgb(169, 169, 169);
    background-image: none;
    cursor: pointer;
}

.review-page{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.review-background{
    position: fixed;
    height: 88vh;
    width: 100vw;
    top: 12vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.review-background:hover{
    cursor: pointer;
}

.review-container{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 80vw;
    left: 10vw;
    height: 70vh;
    top: 20vh;
    z-index: 999;
    border-radius: 15px;
}

.review-container-title{
    text-transform: lowercase;
    width: 100%;
    font-family: JMH, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    font-size: 1.5rem;
    user-select: none;
    padding-top: 30px;
    white-space: nowrap;
}

.review-box-title, .review-box-description, .review-box-rating{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    position: fixed;
}

.review-box-title-title, .review-box-description-title, .review-box-rating-title{
    width: 100%;
    font-family: JMH, serif;
    color: #e0e0e0;
    font-size: 1.3rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    justify-content: center;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.review-box-title{
    height: 10vh;
    width: 35vw;
    margin-left: 3vw;
    margin-top: 4vh;
}

.review-box-description{
    height: 45vh;
    width: 35vw;
    margin-left: 3vw;
    margin-top: 17vh;
}

.review-box-rating{
    height: 40vh;
    width: 35vw;
    margin-left: 42vw;
    margin-top: 4vh;
}

.review-box-title-input, .review-box-description-input, .review-box-rating-input{
    background-color: rgba(255, 255, 255, 0.2);
    font-family: Constantia, serif;
    border: none;
    border-radius: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2rem;
    width: 100%;
    height: calc(100% - 30px);
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    overflow-wrap: break-word;
    resize: none;
}

.review-box-title-input{
    padding-top: 12px;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
}

.review-box-title-input:focus, .review-box-description-input:focus, .review-box-rating-input:focus{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    border-radius: 0;
    text-decoration: none;
}

.review-box-title-input{
    font-weight: bold;
}

.giga-footer{
    /*visibility: hidden;*/
    /*position: fixed;*/
    color: #c4c4c4;
    bottom: 2vh;
    background-color: rgba(2, 0, 0, 0.7);
    height: 6vh;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    display: flex;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
    z-index: 999;
}
