.order-display-container{
    font-family: "Inter", serif;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    left: 7%;
    top: 25%;
    height: 60%;
    width: 30%;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgb(255, 255, 255);
    overflow: auto;
    animation-name: orders-expand;
    animation-duration: 2s;
    min-width: 60px;
}

@keyframes orders-expand{
    from{
        width: 40px;
        overflow: hidden;
        padding-right: 15px;
    }
    to{
        width: 30%;
        overflow: hidden;
        padding-right: 15px;
    }
}

.order-preview-container{
    font-family: "Inter", serif;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    left: 40%;
    top: 25%;
    height: 60%;
    width: 55%;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgb(255, 255, 255);
    animation-name: preview-order-expand;
    animation-duration: 2s;
    min-width: 600px;
    overflow: hidden;
}

@keyframes preview-order-expand{
    from{
        width: 2px;
        min-width: 2px;
        overflow: hidden;
        left: 95%;
    }
    to{width:55%;}
}


.orders-title{
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    color: white;
    font-weight: normal;
    height: 13vh;
    width: 50%;
    white-space: nowrap;
    font-size: min(3rem, 10vh);
    top: 12vh;
    left: 7%;
    letter-spacing: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orders-returns{
    width: 250px;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    position: absolute;
    top: 17vh;
    right: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    box-shadow: 0 0 5px rgb(255, 255, 255)
}

.orders-returns:after{
    content:"<returns>";
}

.orders-returns:hover:after{
    content:"< returns >";
}

.orders-returns:hover{
    cursor: pointer;
    background-color: rgba(197, 197, 197, 0.85);
}

.order-item{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2% 2% 2% 2%;
    border-radius: 6px;
    height: 15%;
    user-select: none;
    overflow: hidden;
    min-width: 350px;
}

.order-item:hover{
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.order-index{
    position: relative;
    height: 50%;
    aspect-ratio: 1/1;
    top: 25%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden;

}

.order-number{
    /*background-color: #0074d9;*/
    position: relative;
    bottom: 50%;
    left: 14%;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.order-quantity{
    /*background-color: #343434;*/
    position: relative;
    bottom: 100%;
    height: 50%;
    left: 44%;
    width: 26%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.order-status{
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 100%;
    left: 14%;
    height: 40%;
    margin-bottom: 5%;
    width: 46%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.order-date{
    position: relative;
    bottom: 224%;
    left: 70%;
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-total{
    position: relative;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    bottom: 224%;
    left: 70%;
    height: 60%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: bold;
    padding-right: 10px;
}

.order-header{
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 5px 10px;
}

.order-preview-number{
    /*border: 1px solid;*/
    position: relative;
    width: 70%;
    height: 50%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-preview-status{
    /*border: 1px solid;*/
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-preview-date{
    /*border: 1px solid;*/
    position: relative;
    width: 30%;
    height: 50%;
    bottom: 100%;
    left: 70%;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-preview-address{
    /*border: 1px solid;*/
    position: relative;
    width: 50%;
    height: 50%;
    bottom: 100%;
    left: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-products{
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    width: 100%;
    height: 70%;
    overflow: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.order-product{
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    height: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.order-product-pic{
    position: relative;
    object-fit: cover;
    top: 10%;
    left: 2%;
    height: 80%;
    width: 10%;
    border-radius: 5px;
}

.order-product-title{
    position: relative;
    height: 100%;
    width: 70%;
    left: 15%;
    bottom: calc(80% + 4px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.order-product-price{
    position: relative;
    height: 50%;
    width: 15%;
    left: 85%;
    bottom: calc(180% + 4px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.order-product-quantity{
    position: relative;
    height: 50%;
    width: 15%;
    left: 85%;
    bottom: calc(180% + 4px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: grey;
}

.order-product-return{
    position: relative;
    width: 3%;
    height: 1.5rem;
    left: 96%;
    bottom: calc(240% + 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}

.order-product-return:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.order-footer{
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 5px 10px;
}

.order-preview-payment{
    position: relative;
    width: 20%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-card-data{
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    height: 100%;
    width: 60%;
    left: 20%;
    bottom: 100%;
}

.order-preview-total{
    position: relative;
    width: 20%;
    height: 100%;
    left: 80%;
    bottom: 200%;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.order-preview-cardemoji{
    position: relative;
    width: 20%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.order-preview-cardnumber{
    position: relative;
    width: 80%;
    bottom: 100%;
    left: 20%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-preview-cardexpire{
    position: relative;
    width: 40%;
    bottom: 100%;
    left: 20%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order-preview-cardcvv{
    position: relative;
    width: 40%;
    bottom: 150%;
    left: 40%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}